$blue: #7998c4;
$red: #a23341;
$bg: #bad6f8;
$maroon: #8c374c;
$green: #265e54;
$pale: #cbb477;
$link: #721919;
$text: #0e273c;
$pfaBg: #fcfae7;

$lineHeight: 1.2;
$fontSize: 5vw;
$firstBreakpointFontSize: 2vw;
$firstBreakpoint: 650px;
$secondBreakpoint: 1111px;
$preFirstBreakpointStr: "(max-width: #{$firstBreakpoint - 1})";
$firstBreakpointStr: "(min-width: #{$firstBreakpoint})";
$secondBreakpointStr: "(min-width: #{$secondBreakpoint})";

$bigSeparatorHeight: 0.3em;

@import "scss/normalize.scss";

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/atkinson-regular.woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('/atkinson-bold.woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 300;
  src: local(''), url('/atkinson-italic.woff2');
}

@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/patrick-hand.woff2');
}


img {
  max-width: 100%;
}


body {
  &:not(.pfa) {
    background-color: $bg;
  }

  &.pfa {
    background-color: $pfaBg;
  }

  word-wrap: break-word;
  font-family: 'Atkinson Hyperlegible';
  font-size: $fontSize;
  color: $text;
  line-height: $lineHeight;

  @media #{$firstBreakpointStr} {
    font-size: $firstBreakpointFontSize;
  }

  @media #{$secondBreakpointStr} {
    font-size: $secondBreakpoint * ($firstBreakpointFontSize/100vw);
  }
}

label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: $link;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  clear: left;
}


h1,
h2,
h3 {
  font-family: 'Patrick Hand';
  color: $red;
}

hr {
  border: 0;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: $maroon;
  margin: 2em 0;
}

#site {
  box-sizing: border-box;
  padding: 0 1em 1em 1em;
  margin: 0 auto;

  @media #{$secondBreakpointStr} {
    width: $secondBreakpoint;
  }
}

#header {
  $headerPadding: 1em;

  img.logo {
    height: 5em;
  }

  flex-wrap: wrap;
  display: flex;
  font-family: 'Patrick Hand';
  justify-content: space-between;
  padding: $headerPadding 0;
  max-width: 100%;
  flex-wrap: wrap;

  @media #{$firstBreakpointStr} {
    flex-wrap: nowrap;
  }

  flex-direction: row;

  >a {
    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 4;
    }
  }

  @media #{$firstBreakpointStr} {
    font-size: 1.4em;
  }

  ul {
    padding: 0;

    @media #{$preFirstBreakpointStr} {
      padding-top: $headerPadding;
    }

    @media #{$firstBreakpointStr} {
      padding-left: $headerPadding;
    }

    margin: 0;
    list-style-type: none;

    li {
      padding: 0 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.8em;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    &:nth-of-type(2) {
      text-align: right;
    }

    @media #{$preFirstBreakpointStr} {
      &:nth-of-type(1) {
        order: 5;
      }

      &:nth-of-type(2) {
        order: 6;
      }

      width: 50%;
    }

    @media #{$firstBreakpointStr} {
      flex-grow: 1;
      flex-direction: row;

      &:nth-of-type(1) {
        order: 2;
      }

      &:nth-of-type(2) {
        order: 3;
        flex-direction: row-reverse;

        ul {
          padding: 0 1em;
        }
      }
    }
  }

  #show-menu-toggle,
  #show-menu-label {
    display: none;
    visibility: hidden;
  }

  @media #{$preFirstBreakpointStr} {

    nav,
    nav ul,
    nav li {
      transition: 0.2s ease-in-out;
      transition-property: line-height, opacity, padding, margin;
      line-height: $lineHeight * 1em;
    }

    #show-menu-toggle:not(:checked) {

      ~nav,
      ~nav ul,
      ~nav li {
        line-height: 0em;
        opacity: 0;
        padding: 0;
        margin: 0;
        pointer-events: none;
      }
    }

    #show-menu-toggle:checked {
      ~#show-menu-label-wrapper {
        margin-top: 1em;

        #show-menu-label {
          margin-top: 1em;

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    align-items: center;

    #show-menu-label-wrapper {
      order: 9;
      width: 100%;
      text-align: center;
      margin-bottom: -$headerPadding;
    }

    #show-menu-label {
      $padding: 0.4em;
      position: relative;
      top: 0;
      transition: 0.2s ease-in-out top;
      padding: $padding $padding $padding (
        1.2em + $padding
      );
    border-radius: ($bigSeparatorHeight/2) ($bigSeparatorHeight/2) 0 0;
    color: #fff;
    background-color: $maroon;
    font-family: 'Atkinson Hyperlegible';
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.7em;
    display: inline;
    visibility: visible;

    &:before,
    &:after {
      transition: transform 0.2s 0.2s ease-in-out;
      position: absolute;
      top: $padding + 0.5em - 0.05em;
      left: $padding;
      height: 0.1em;
      width: 0.8em;
      content: '';
      background-color: #fff;
      border-radius: 0.5em;
    }

    &:before {
      transform: translateY(-0.15em);
    }

    &:after {
      transform: translateY(0.15em);
    }
  }
}

a.active {
  color: $text;
  text-decoration: none;
}
}

.cover-photo img {
  width: 100%;
}

main {
  padding: 2em 0;

  h2 {
    padding-top: 1.5em;
    margin-top: 1.5em;
  }

  &,
  h2 {
    position: relative;
  }

  &:after,
  &:before,
  h2:before {
    position: absolute;
    left: 0;
    border-radius: 1em;
    background-color: $maroon;
    content: '';
  }

  &:after,
  &:before {
    right: 0;
    height: $bigSeparatorHeight;
  }

  h2:before {
    width: 5em;
    height: 0.15em;
  }

  &:after {
    bottom: 0;
  }

  &:before,
  h2:before {
    top: 0
  }
}

#footer {
  .icon-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    img {
      height: $lineHeight * 1em;
    }

    li:not(:first-child) {
      padding-left: 1em;
    }

    font-size: 1.5em;
  }

  padding-top: 2em;
}

ul.news,
ul.blogs {
  display: flex;
  padding: 0;
  margin-top: 3em;
  list-style-type: none;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    a {
      text-decoration: none;
    }
  }

  >li {
    width: 100%;
    border-bottom: 0.1em solid $maroon;

    &:last-child {
      border-bottom: 0;
    }

    @media #{$firstBreakpointStr} {
      width: 50%;
      box-sizing: border-box;

      &:nth-child(2n+1) {
        padding-right: 1em;
        border-right: 0.1em solid $maroon;
      }

      &:nth-child(2n) {
        padding-left: 1em;
      }

      &:nth-last-child(2):nth-child(2n+1) {
        border-bottom: 0;
      }
    }

    padding-bottom: 2em;
  }

  .summary {
    margin: 1em 0;
  }
}

.go-back {
  text-align: center;
  font-size: 0.8em;
}

.other-posts {
  padding: 0 1em;
  margin-top: 2em;
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0.5em;
    border-radius: 1em;
    background-color: $maroon;
    content: '';
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  >div {
    margin-top: 2em;
  }

  .which {
    font-size: 0.8em;
    margin-top: 1em;
  }

  a {
    display: block;
  }

  .older-post:only-child {
    margin-left: auto;
  }
}

.post-info {
  margin-top: -0.5em;
  margin-bottom: 2em;
  text-align: center;
  font-style: italic;
}

blockquote {
  background-color: rgba(255, 255, 255, 0.6);
  margin: ($lineHeight*1em) 0 ($lineHeight*1em) 3em;
  padding: 1em;
}

#toc-wrapper {
  background-color: #ffffff;
  padding: 2em;
  margin: 1em auto 2em;

  @media #{$firstBreakpointStr} {
    display: table;
    max-width: 80%;
  }
}

#toc-toggle {
  display: none;
  visibility: hidden;
}

#TableOfContents {
  height: 0;
  overflow: hidden;
}

#toc-toggle+label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

#toc-toggle+label:before {
  content: '[+] ';
}

#toc-toggle:checked+label:before {
  content: '[–] ';
}

#toc-toggle:checked~#TableOfContents {
  height: auto;
}

.banner-message {
  font-size: 0.7em;
  background-color: #fff;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;

  >p {
    margin: 1em auto;

    @media #{$secondBreakpointStr} {
      width: $secondBreakpoint;
    }
  }
}

article {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

article aside {
  padding: 1em;
  background-color: #fff;
  box-sizing: border-box;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media #{$firstBreakpointStr} {
    max-width: 50%;

    &.left {
      float: left;
      margin: 0 1em 0.5em 0;
    }

    &.center {
      margin: 1em auto 2em;
    }

    &.right {
      float: right;
      margin: 0 0 0.5em 1em;
    }
  }
}

article table {

  td,
  th {
    padding: 0.5em;
  }

  thead {
    border-bottom: 0.2em solid $red;

    tr {
      margin-bottom: 1em;
    }
  }

  tbody {
    tr:not(:last-child) {
      border-bottom: 0.05em solid $red;
    }
  }
}

div.sections {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  >section {
    width: 100%;
    flex-grow: 0;
    box-sizing: border-box;

    @media #{$firstBreakpointStr} {
      width: 48%;
      padding: 1em;
      background-color: rgba(256, 256, 256, 0.5);
      margin-bottom: 4%;
      border-radius: 0.25em;

      h2 {
        padding-top: 0;
        margin-top: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

.md-image {
  &:not(.svg) img {
    max-width: 100%;
    height: auto;
  }

  &.svg img {
    height: 1em * $lineHeight;
    width: auto;
    vertical-align: bottom;
  }
}

a.no-text-decoration {
  text-decoration: inherit;
  color: inherit;
}

div.thermometer {
  $h: 20em;
  $w: 3em;
  $t: 0.2em;
  height: $h;
  width: $w;
  position: relative;
  margin-top: $lineHeight * 1em;
  margin-left: $w/2;
  margin-right: $w/2 + 4.5em;
  margin-bottom: ($lineHeight*1em + $w*1.5);
  border: $t solid #000;
  border-radius: $w;

  &:after {
    content: '';
    position: absolute;
    width: $w*2;
    height: $w*2;
    border-radius: $w*2;
    border: $t solid #000;
    background-color: $red;
    position: absolute;
    bottom: $w*-1.5;
    left: ($w+$t)/-2;
    z-index: 1;
  }

  div.aim {
    font-weight: bold;
    position: absolute;
    left: 100%;
    bottom: 100%;
    border-bottom: $t solid #000;
    padding-left: $w/2;
  }

  div.at {
    position: absolute;
    left: 100%;
    padding-left: $w/2;
    margin-bottom: $lineHeight * -1em;
    border-top: $t solid #000;
  }

  div.mercury-container {
    overflow: hidden;
    border-radius: $w;
    width: $w;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  div.mercury {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $red;
    z-index: 2;
    border-top: $t solid #000;
  }
}
