{{- print "" -}}
{{- $src := .Destination -}}
{{- $media := "external-image" -}}
{{- if not (hasPrefix .Destination "http") -}}
  {{- $img := resources.GetMatch .Destination }}
  {{- $media = $img.MediaType.SubType -}}
  {{- if ne $img.MediaType.SubType "svg" -}}
    {{- $img = $img.Fit "2000x2000" }}
  {{- end -}}
  {{- $src = ($img | resources.Fingerprint "md5").RelPermalink -}}
{{- end -}}
<span class="md-image {{ $media }}"><img src="{{ $src }}" alt="{{ .Text }}" {{- with .Title}} title="{{ . }}" {{- end }}></span>
{{- print "" -}}
