<!DOCTYPE html>
{{- $p := .Page -}}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
{{- if eq .Site.Title "Ayton Primary School P7 blog" }}
  <script>window.location.href = window.location.origin + '/admin/' + window.location.hash  </script>
  </head><body></body></html>
{{ else -}}
  {{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" false) -}}
  {{- $style := resources.Get "style.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Fingerprint "md5" -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" media="all">
  <meta property="og:title" content="{{ .Page.Title }}">
  <meta property="og:site_name" content="Ayton Primary School">
  {{ with .Params.description -}}
    <meta property="og:description" content="{{ . }}">
  {{ else }}
    <meta property="og:description" content="{{ .Summary }}">
  {{- end }}
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="{{ .Page.Lastmod.Unix }}">
  <meta property="og:locale" content="en_GB">
  {{ $og := false -}}
  {{- with .Params.og }}{{ $og = resources.GetMatch . -}}
  {{- else }}{{ with .Params.cover_photo }}{{ $og = resources.GetMatch . -}}
  {{- end}}{{ end -}}
  {{- if $og }}<meta property="og:image" itemprop="image" content="{{ ($og.Fit "1000x1000" | resources.Fingerprint "md5").Permalink }}">{{- end }}
  {{ range .AlternativeOutputFormats }}<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">{{ end }}
  {{ block "head_extra" . -}}
  {{- end }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7998c4">
  <meta name="msapplication-TileColor" content="#7998c4">
  <meta name="theme-color" content="#7998c4">
</head>
<body>
  <div id="site">
    <header id="header">
      <a href="/"><img class="logo" src="{{ (resources.Get "/i/logo.svg" | resources.Fingerprint "md5").RelPermalink }}"></a>
      <a href="/blog" class="blog-link">Blog</a>
      <ul class="contact">
        {{ range .Site.Data.contact.quick -}}
          <li><a href="{{ .link | safeURL }}" title="{{ .title }}" {{ if strings.HasPrefix .link "http" }} target="_blank" rel="noopener"{{ end }}><img src="{{ (resources.GetMatch .icon | resources.Fingerprint "md5").RelPermalink }}"></a></li>
        {{- end }}
      </ul>
    </header>
    <main>
      <article>
        {{ block "main" . }}
          <h1>{{ .Title }}</h1>
          {{ with .Params.cover_photo }}
            <div class="cover-photo"><img src="{{ ((resources.GetMatch .).Fill "2000x1000 Smart" | resources.Fingerprint "md5").RelPermalink }}"></div>
          {{ end }}
          {{ .Content }}
        {{ end }}
      </article>
    </main>
    <footer id="footer">
      <ul class="contact">
        {{ range .Site.Data.contact.details -}}
          <li>
            <div class="icon"><img src="{{ (resources.GetMatch .icon | resources.Fingerprint "md5").RelPermalink }}" alt="{{ .title }}"></div>
            <div class="text">{{ $p.RenderString .content }}</div>
          </li>
        {{- end }}
      </ul>
    </footer>
  </div>
</body>
</html>
{{- end -}}
