<!doctype html>
{{- $p := .Page -}}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ .Permalink }}">
  <title>{{ .Title }}</title>
  {{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" false) -}}
  {{- $style := resources.Get "style.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Fingerprint "md5" -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" media="all">
  <meta property="og:title" content="{{ .Page.Title }}">
  <meta property="og:site_name" content="Ayton Primary School">
  {{ with .Params.meta.description -}}
    <meta property="og:description" content="{{ . }}">
    <meta name="description" content="{{ . }}">
  {{- else -}}
    <meta property="og:description" content="{{ .Summary }}">
    <meta name="description" content="{{ .Summary }}">
  {{- end }}
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="{{ .Page.Lastmod.Unix }}">
  <meta property="og:locale" content="en_GB">
  {{ $og := false -}}
  {{- with .Params.meta.image }}{{ $og = resources.GetMatch . -}}
  {{- else }}{{ with .Params.cover_photo }}{{ $og = resources.GetMatch . -}}
  {{- end}}{{ end -}}
  {{- if $og }}<meta property="og:image" itemprop="image" content="{{ ($og.Fill "1000x750 Smart" | resources.Fingerprint "md5").Permalink }}">{{- end }}
  {{ range .AlternativeOutputFormats }}<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">{{ end }}
  {{ block "head_extra" . -}}
  {{- end }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#7998c4">
  <meta name="theme-color" content="{{ cond (hasPrefix .Page.Type "pfa") "#ffffff" "#7998c4" }}">
</head>
<body class="{{ replace .Page.Type "-" " " }}">
      {{ range .Params.banner_messages -}}
        <div class="banner-message">
          {{- $.Page.RenderString (dict "display" "block") . -}}
        </div>
      {{ end }}
  <div id="site">
    <header id="header">
      <a href="{{ .Site.Home.RelPermalink }}"><img class="logo" src="{{ (resources.Get "/i/logo.svg" | resources.Fingerprint "md5").RelPermalink }}"></a>
      <input type="checkbox" id="show-menu-toggle" {{- if or .Page.IsHome (eq .Page.RelPermalink "/pfa/") }} checked="checked" {{- end }}>
      <a href="{{ (.GetPage "/pfa").RelPermalink }}"><img class="logo" src="{{ (resources.Get "/i/pfa-logo.svg" | resources.Fingerprint "md5").RelPermalink }}"></a>
      <nav id="main-nav">
        <ul>
          {{ range .Site.Menus.main -}}
            {{ if (ne .Weight 999) }}<li><a href="{{ .URL }}" {{- if or ($p.HasMenuCurrent "main" .) ($p.IsMenuCurrent "main" .) }} class="active" {{- end }}>{{ .Name }}</a></li>{{ end }}
          {{ end }}
        </ul>
      </nav>
      <div id="show-menu-label-wrapper"><label id="show-menu-label" for="show-menu-toggle">Menu</label></div>
      <nav id="pfa-nav">
        <ul>
          {{ range .Site.Menus.pfa -}}
            {{ if (ne .Weight 999) }} <li><a href="{{ .URL }}" {{- if $p.IsMenuCurrent "pfa" . }} class="active" {{- end }}>{{ .Name }}</a></li>{{ end }}
          {{ end }}
        </ul>
      </nav>
    </header>
    <main>
      <article>
        {{ block "main" . }}
          {{ .Content }}
        {{ end }}
      </article>
    </main>
    <footer id="footer">
      <ul class="icon-links">
        {{ range .Site.Data.footer.icon_links -}}
          <li><a href="{{ .link | safeURL }}" title="{{ .title }}" {{ if strings.HasPrefix .link "http" }} target="_blank" rel="noopener"{{ end }}><img src="{{ (resources.GetMatch .icon | resources.Fingerprint "md5").RelPermalink }}"></a></li>
        {{- end }}
      </ul>
    </footer>
  </div>
</body>
</html>
