{{ define "head_extra" }}
<script>if (window.location.hash.indexOf('token') > -1) window.location.href = window.location.origin + '/admin/' + window.location.hash;</script>
{{ end }}
{{ define "main" }}
{{ .Content }}
<div class="sections">
  {{ range .Params.sections }}
  <section>
    {{ if eq .type "text" }}
    {{- $.Page.RenderString (dict "display" "block") .content -}}
    {{ else if eq .type "news" }}
    <h2><a href="/news">{{ .title }}</a></h2>
    {{- range first 2 (sort (where site.Pages "Type" "news") "Date" "desc") -}}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <div>{{ .Summary }}</div>
    {{ end }}
    {{ else if eq .type "blog" }}
    <h2><a href="/blog">{{ .title }}</a></h2>
    {{- range first 2 (sort (where site.Pages "Type" "blog") "Date" "desc") -}}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <div>{{ .Summary }}</div>
    {{ end }}
    {{ else }}
    {{ errorf "Unknown section type: %s" .type }}
    {{ end }}
  </section>
  {{ end }}
</div>
{{ end }}
