{{ define "main" }}
  {{ .Content }}
  <ul class="blogs">
    {{ range .Pages }}
      <li>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <a href="{{ .RelPermalink }}">
          {{- $img := false -}}
          {{- with .Params.cover_photo }}{{ $img = resources.GetMatch . -}}
          {{- else }}{{ with .Params.meta.image }}{{ $img = resources.GetMatch . -}}
          {{- end}}{{ end -}}
          {{- if $img }}<img src="{{ ($img.Fill "900x600 Smart" | resources.Fingerprint "md5").RelPermalink }}">{{ end -}}
        </a>
        <div class="summary">{{ .Summary }}</div>
        <a href="{{ .RelPermalink }}">Read more</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
